<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
      <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
        <div 
          id="user-data"
          ngModelGroup="userData"
          #userDataBlock="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" 
                id="username" 
                class="form-control"
                ngModel
                name="username"
                required>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" 
                id="email" 
                class="form-control"
                ngModel
                name="email"
                required
                email
                #email="ngModel">
          </div>
          <span class="help-block" *ngIf="email.touched && !email.valid">Please enter a valid email value!</span>
        </div>
        <span class="help-block" *ngIf="userDataBlock.touched && !userDataBlock.valid">Please enter valid data for username & email!</span>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" 
              class="form-control"
              [ngModel]="defaultUserQuestion"
              name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea 
            name="answer" 
            id="answer" 
            rows="3" 
            class="form-control"
            [(ngModel)]="userAnswer">
          </textarea>
        <span>Your reply is : {{ userAnswer }} </span>  
        </div>
        <div class="form-group">
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input 
                type="radio" 
                ngModel
                [value]="gender"
                name="gender"
                required>
              {{ gender }}
            </label>
          </div>
        </div>
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
